.img-presentation-small {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
}

.table-condensed td{
    vertical-align: middle;
}

/*PROFILE*/
.bg-profile{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: #7ebcff;
}

.img-profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
}

/*GENERAL*/
.box-center{
    display: block;
    margin: 0 auto;
}