nav.navbar img.logo{
    max-width: 45px;
}

.user-options{
    position: relative;
    top: -8px;
    margin-left: 15px;
}

.user-options a{
    color: #FFF;
    padding-left: 8px;
}

#search-results {
    
}

#search-results .dropdown-toggle,
#search-results .btn{
    border-radius: 0;
    border-color: #FFF;
    color: #FFF;
}

/*POST*/
.post {
    transition: 250ms all;
}

.post:hover{
    box-shadow: 0.5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    transform: scale(1.01);
}

.post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 1s;
    padding: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.post a{
    text-decoration: none;
    color: inherit;
}

/*PROFILE*/
.bg-profile{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: #7ebcff;
}

.img-profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
}

/*GENERAL*/
.box-center{
    display: block;
    margin: 0 auto;
}
